* {
    box-sizing: border-box;
}


.gameContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 15px;
    width: 800px;
    margin: 0 auto;
    perspective: 500px;
}

.grid {
    display: flex;
    flex-wrap: wrap; 
    height: 600px;
    width: 100%;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(purple, pink) 
}

.gameTitle {
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 75px;
}

.gameInfo {
    color: lavender;
    font-size: 25px;
}



.gameInfoCont{
    grid-column: 1 /-1;
}


.card {
    background-color: lavender;
    height: 150px;
    width: 100px;
    position: relative;

}


.card-face {
    position: absolute; 
    width: 100px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 1000ms ease-in-out

}

.card.visible .card-back {
    transform: rotateY(-180deg)
}

.card.visible .card-front {
    transform: rotateY(0)
} 

.backpic{
    height: 150px;
    width: 100px;
}

img{
    height: 150px;
    width: 100px;
}


