.pageContainer{
    width: 750px;
    margin: 0 auto;

}


.gameGrid{
    display: flex;
    flex-wrap: wrap; 
    height: 650px;
    width: 100%;
    border: 2px black;
    background-color: blue;

}

* {
    border: 1px solid gold;
}